<div *ngIf="hero">
  <h3>{{ hero.name | uppercase }} Details</h3>

  <div *ngIf="hero" class="form-control">
    <label>id:</label>
    {{ hero.id }}
  </div>

  <div class="form-control">
    <label for="name">name:</label>
    <input id="name" [(ngModel)]="hero.name"  placeholder="name">
  </div>

  <div class="form-control">
    <label for="value">value:</label>
    <input id="value" [(ngModel)]="hero.value"  placeholder="value" type="number">
  </div>

  <div>
    <button (click)="location.back()" class="btn">Cancel</button>
    <button (click)="save()" class="btn btn--primary">Save</button>
  </div>

  <h3>Hero!</h3>
  <div *ngIf="hero">
    <hero-full-info [hero]="hero" [text]="'TEST'"></hero-full-info>
  </div>
</div>
