
.nav-main {
  display: flex;
  gap: 10px;

  &__link {
    padding: 0 10px;
    line-height: 28px;
    font-size: 18px;
    background: @mainColor;
    border-radius: 5px;
    &--active {
      color: blue;
    }
  }
}

.btn {
  padding: 0 10px;
  line-height: 28px;
  font-size: 18px;
  background: @mainColor;
  border-radius: 5px;
  &:hover {
    color: blue;
  }
}
